<html>
<head>
{% include 'stats/pretitle.html' %}
<title>Error</title>
{% include 'stats/stylesheets.html' %}
</head>
<body>
{% include 'stats/navbar.html' %}
<P>
That user doesn't seem to be in Extended Stats. Make sure you have the case exactly right, and use %20 in the URL instead of spaces.
<P>
If you're not in Extended Stats and you'd like to be, please email Friendless (friendless.farrell@gmail.com) and ask to be added.
You just need to tell him your BGG user ID.
The list of current users is stored <A HREF="https://pastebin.com/BvvdxzcH">in the cloud</A> so you can see whether you've been added yet.
</body>
</html>
