<link rel="stylesheet" type="text/css" media="screen" href="/css/jqtouch.css">
<link rel="stylesheet" type="text/css" media="screen" href="/css/themes/jqt/theme.css">
<link rel="stylesheet" type="text/css" media="screen" href="/css/extstats_metal.css">
<script language="JavaScript" type="text/JavaScript" src="/scripts/jquery.js"></script>
<script language="JavaScript" type="text/JavaScript" src="/scripts/jqtouch.js"></script>
<script type="text/JavaScript">
    var jQT = $.jQTouch({
        icon : '/images/stats.gif',
        statusBar: 'black'
    });
</script>
