<div id="lag" class="section">
<H1>Lag Between Publication and Playing</h1>

<img border="0" type="image/png" src="/dynamic/image/lag/{{username}}"/>
<P>
Do you play new games, or do you play old games? In particular, how many years elapse between a game's release and you playing it? This is a histogram of the number of calendar years between a game's release and your first play of it. The vertical axis is number of games, the horizontal axis is number of years. The percentages across the top are the accumulated percentage of games you play within that many years of it being released.
</div>
