<div id="lifetime" class="section">
<H1>Lifetimes of Games</h1>

<img src="/dynamic/image/lifetime/{{username}}">
<P>
What's the lifetime of a game? How long does it remain in play rotation for? This graph shows, for each game you've ever played on two different days, what the timespans between the first and last plays of that game were. The timespans are capped at 10 years - that's "forever" for my purposes. The black dot on the line is a guess at the age of the game, i.e. no lifetime can go past that because the game hasn't been released that long.
<P>
Each horizontal block represents one game. The colours are:
<ul>
<li> green - game you own
<li> pink - a game you don't own
<li> yellow - an expansion you own
<li> blue - an expansion you don't own
</ul>
</div>
