<div class="navbar">
<table><TR>
<TD><A HREF="/dynamic/index.html">The War Table</A>&nbsp;</TD>
<TD><A HREF="/stats/rankings.html">Rankings</A>&nbsp;</TD>
<TD><A HREF="/dynamic/tabbed/{{username}}">Your Page</A>&nbsp;</TD>
<TD><A HREF="/dynamic/tabbed/{{username}}/6">Custom Page</A>&nbsp;</TD>
<TD><A HREF="/dynamic/ipod/{{username}}">Mobile</A>&nbsp;</TD>
<TD><A HREF="/dynamic/cookies">Cookies</A>&nbsp;</TD>
<TD><A HREF="/stats/Extended%20Stats%20User%20Guide.pdf">User Guide</A>&nbsp;</TD>
<TD><A HREF="/dynamic/server">Server</A>&nbsp;</TD>
<TD><A HREF="https://boardgamegeek.com/thread/478743/wheres-friendless-stats-site/page/1">BGG Thread</A>&nbsp;</TD>
<td><A HREF="https://github.com/DrFriendless/ExtendedStats">GitHub Project</A>&nbsp;</TD>
<td><A HREF="http://www.boardgamegeek.com/geekmicrobadge.php?action=view&amp;badgeid=6964">Microbadge</A>&nbsp;</TD>
</tr></table>
</div>
