<div id="new" class="section">
<H1>Rate of Play of Games New To You</h1>

<img src="/dynamic/image/newPlays/{{username}}">
<P>
This graph shows, across the last few years, how fast you learn new games. The black lines (dots) are the number of new games learned in that year, and the blue line (triangles) is the number of new games learned since the beginning of the graph. The scale for the black lines is on the left hand axis, the scale for the blue line is on the right hand axis. Thanks to Randy Cox for the data presentation design.
</div>
