<div id="contents">
Other ways of slicing and dicing your collection.
<P>
<ul class="BulletList">
<LI class="OtherPage"><A HREF="/dynamic/multiyear/{{username}}">Games Played in Multiple Years</A>
<LI class="OtherPage"><A HREF="/dynamic/dimesbydesigner/{{username}}">Dimes By Designer</A>
<LI class="OtherPage"><A HREF="/dynamic/series/{{username}}">Series Summaries</A>
<LI class="OtherPage"><A HREF="/dynamic/locations/{{username}}">Plays By Location</A>
<LI class="OtherPage"><A HREF="/dynamic/cat/{{username}}/designer">Designers</A>
<LI class="OtherPage"><A HREF="/dynamic/cat/{{username}}/publisher">Publishers</A>
<LI class="OtherPage"><A HREF="/dynamic/cat/{{username}}/mechanic">Mechanics</A>
<LI class="OtherPage"><A HREF="/dynamic/cat/{{username}}/category">Categories</A>
<LI class="OtherPage"><A HREF="/dynamic/selections/{{username}}/owned/%22Owned%22/prevowned/owned/minus/%22Previously%20Owned%22/want/wishlist/1234/wanttobuy/wanttoplay/or/or/or/prevowned/minus/owned/minus/%22Wanted%22/columns/Name,Rating,Utilisation,Plays,First%20Played,Months%20Played,Last%20Played/1">Owned vs Previously Owned</A>
<LI class="OtherPage"><A HREF="/dynamic/selections/{{username}}/category/Print%20&%20Play/mechanic/Paper-and-Pencil/or/%22Print%20and%20Play%20etc%22/1">Print and Play Games to explore</LI>
<LI class="OtherPage"><A HREF="/dynamic/selections/{{username}}/lpiy/2005/lpiy/2006/lpiy/2007/lpiy/2008/lpiy/2009/lpiy/2010/lpiy/2011/lpiy/2012/lpiy/2013/lpiy/2014/lpiy/2015/lpiy/2016/lpiy/2017/lpiy/2018/1">Games Grouped by the Year You Last Played Them</A>
<LI class="OtherPage"><A HREF="/dynamic/selections/{{username}}/owned/columns/Name,Weight/1">Games You Own With Weight</A>
<LI class="OtherPage"><A HREF="/dynamic/playlogging/{{username}}">Dazeysan's Splendiferous Play-Logging Utility</A>
<LI class="BGG"><A HREF="https://www.boardgamegeek.com/profile.php?action=extstats&subaction=gamesownedbydesigner&username={{username}}">Games Owned By Designer</A>
</ul>
</div>


