<h1>Temporal Hotness by Month</h1>

<div id="thm" class="hotness">
<table>
<thead>
<td>Total</td><td>Year</td><td>Jan</td><td>Feb</td><td>Mar</td><td>Apr</td><td>May</td><td>Jun</td><td>Jul</td><td>Aug</td><td>Sep</td><td>Oct</td><td>Nov</td><td>Dec</td>
</thead>
<tbody>
{% for year in thm %}
<tr><td class="{{year.cssClass}}">{{year.count}}</td><td>{{year.name}}</td>
{% for month in year.months %}
<td class="{{month.cssClass}}">{{month.count}}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
<P>
This table implements an analysis <A href="http://boardgamegeek.com/image/1247651/randy-cox">designed by Randy Cox</A>.
For each month since you really got into games, how many games did you play? The values are coloured according to the number of games played.
<P>
<table>
<tr><td class="class1">1+ standard deviations below the mean</td></tr>
<tr><td class="class2">0.5 - 1 standard deviations below the mean</td></tr>
<tr><td class="class3">within 0.5 standard deviations of the mean</td></tr>
<tr><td class="class4">0.5 - 1 standard deviations above the mean</td></tr>
<tr><td class="class5">1+ standard deviations above the mean</td></tr>
</table>
</div>
