body { 
    background-image:url('background.jpg');
    background-size:100% 100%;
}

.title {
    font-size: 130%;
}
.subtitle {
    font-size: 90%;
}

.gold {
    color: goldenrod;
}
.silver {
    color: darkgray;
}
.lumber {
    color: brown;
}
.coal {
    color: coalgrey;
}
.winter {
    background-color: purple;
    color: white;
}

#pricetable {
    position:absolute;
    left:5%;
    top:8%;
    width: 90%;
    background-color: white;
}

#buttontable {
    position:absolute;
    left:12%;
    top:80%;
    width:30%;
    height:10%;
    background-color: white;
}

#buttontable td {
    border: 2px solid black;
    overflow: hidden;
    text-align: center;
    width: 10%;
}

#pricetable td {
    border: 2px solid black;
    overflow: hidden;
    width: 7%; 
    text-align: center;
}